<configuration scan="true" scanPeriod="10 seconds" packagingData="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%t] [%-5p] %c{30} - [%-4L]: %m%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="com.evg_kuznetsov.expert" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>